parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    ignoreErrors:
        # Suppress Symfony magic that PHPStan can't infer
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::#'
        -
            identifier: missingType.iterableValue
